In [1]:
!test -f test_gribs.tar || wget https://get.ecmwf.int/repository/test-data/earthkit-data/examples/test_gribs.tar

## Reading GRIB in tar or zip archive

We read a tar file containing 2 GRIB files:

In [2]:
import earthkit.data

fs = earthkit.data.from_source("file", "test_gribs.tar")

The files are extracted and stored in the earthkit-data cache:

In [3]:
fs.graph()

 MultiFieldList
    GRIBReader(/var/folders/ng/g0zkhc2s42xbslpsywwp_26m0000gn/T/earthkit-data-cgr/file-461599e4bea1fe52b7dfd30afff92448fce511fe6e8c41fba0893c7822ab2f30.d/test.grib)
    GRIBReader(/var/folders/ng/g0zkhc2s42xbslpsywwp_26m0000gn/T/earthkit-data-cgr/file-461599e4bea1fe52b7dfd30afff92448fce511fe6e8c41fba0893c7822ab2f30.d/test4.grib)

The resulting object behaves like any standard GRIB object:

In [4]:
fs.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,2t,surface,0,20200513,1200,0,an,0,regular_ll
1,ecmf,msl,surface,0,20200513,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
3,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
4,ecmf,t,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll
5,ecmf,z,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll

In [5]:
a = fs.sel(level=500)
a.ls()

args=() kwargs={'levelist': 500}
args=() kwargs={'levelist': 500}

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
1,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll